<h3>Points</h3>
<app-point-create [selectedListCount]="pointsCountInput" [errorMsg]="errorMsg"></app-point-create>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">X</th>
            <th scope="col">Y</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let point of pointsInput">
            <td scope="col">{{point.id}}  {{pointsCountInput}}</td>
            <td scope="col">{{point.x}}</td>
            <td scope="col">{{point.y}}</td>
            <td scope="col"><button class="btn btn-danger" (click)="removePoint(point.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
<app-points-squares></app-points-squares>
